/* Make the image fully responsive */
.carousel-inner img {
width: 100%;
height: 100%;
        }

#footer{
    background-color:#000;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header{
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
.card-title {
    margin-top: 15px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .pendaftaran{
    margin-bottom: 100px;
    margin-top: 100px
  }

  .mx-auto {
 margin-right: auto !important;
 margin-left: auto !important;
}
.header_kanan{
    float: right;
}

.paud{
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0px 100px 0px 100px;

}

